
.stepbar_container {
    border: 1px solid #b0b2b3;
    display: flex;
    justify-content: center;
    align-items:center; 
    width: 80vw;
    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.stepbar_section {
    flex: 1;
    display: flex;
    flex-direction: row;
    height:5vh;
    text-align: center;
    line-height: 5vh;
}

.step_count {
    flex: 3;
    /* border: 1px solid #000000; */
    background-color: rgb(93, 153, 242);
    color: azure;
    position: relative;
    margin-right:2.5vh; 
    font-size:1.5em; 
}

.step_count::after {
    content: "";
    position: absolute;
    left: 100%;
    /* top:-0.2vh; */
    border-width: 2.5vh;
    border-style: solid;
    border-color: transparent transparent transparent rgb(93, 153, 242);
}

.description {
    flex: 7;
}