.card {
    padding: 1em 1em 7em 1em;
    width: 95vw;
    margin-right: auto;
    margin-left: auto;
    margin-top:2em; 
}

#calendar{
    width: 90vw;
    margin-right: auto;
    margin-left: auto;
}